@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: 'VT323' !important;
}

#score {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    font-size: 28px;
    color: white;
}

#lives {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60px;
    left: 20px;
    font-size: 28px;
    color: white;
}

#item {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
}

#begin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#begin {
    height: 700px;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#begin h1 {
    color: white;
}
