@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'VT323' !important;
}

#score,
#lives {
    position: absolute;
    width: 175px;
    height: 75px;
    left: 20px;
    font-size: 30px;
    color: white;
    padding: 20px 20px 20px 30px;
}

#score {
    top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#lives {
    top: 60px;
}

#item {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
}

#begin-container,
#end-container,
#countdown,
#paused {
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#begin-container,
#end-container {
    display: flex;
}

#countdown,
#paused {
    display: none;
}

#begin-content,
#end-content,
#paused-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
}

#begin-content {
    height: 380px;
}

#end-content {
    height: 250px;
}

#begin-content h1,
#end-content h1,
#countdown h1,
#paused-content h1 {
    color: white;
    padding: 0px;
    margin: 0px;
    text-shadow: 3px 3px blue;
    text-align: center;
}

#begin-content h1,
#end-content h1,
#paused-content h1 {
    font-size: 50px;
}

#countdown h1 {
    font-size: 80px;
}

#begin-content p,
#end-content p,
#paused-content p{
    font-family: 'Open Sans' !important;
    font-style: italic;
    color: white;
}

#end-content p {
    text-align: center;
}

#begin-button,
#end-button {
    display: flex;
    background-color: #31c110;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

#begin-button:hover,
#end-button:hover {
    background-color: green;
    color: lightgray;
}

#writeup-container {
    position: absolute;
    bottom: 40px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#writeup-container a {
    padding: 0px;
    margin: 0px;
    font-size: 28px;
    text-decoration: none;
    color: white;
}

#writeup-container a:hover {
    text-decoration: underline;
    color: lightgray;
}

#heart {
    position: absolute;
    top: 82px;
    left: 130px;
    display: flex;
}

#heart img {
    height: 25px;
    width: 25px;
    padding-right: 4px;
}
